{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_foundation/partials/brands

    Brands.

    Context variables required for this template:
    * brandclasses - String with the FontAwesome class prefix to use.
    * thebrands - Array of brands if any.

    Example context (json):
    {
        "brandsenabled" : true,
        "brandclasses" : "fab fa-",
        "thebrands": [
            {"brandiconname": "train", "brandiconurl": "http://localhost/"}
        ]
    }
}}
{{#brandsenabled}}
<span class="brands">
    {{#thebrands}}
    <a href="{{brandiconurl}}" target="_blank" class="brand"><i class="{{brandclasses}}{{brandiconname}}"></i></a>
    {{/thebrands}}
</span>
{{/brandsenabled}}
