{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_foundation/partials/navbar

    Page navbar.

    Context variables required for this template:
    * sitename - The name of the site.
    * output - The core renderer for the page.
    * config - The config instance.
    * hasdrawerblocks - true if there are drawer blocks on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": "",
        "config": "",
        "hasdrawerblocks": true,
        "drawerclosed": true,
        "navbarposition": "top"
    }
}}
<nav class="fixed-{{navbarposition}} navbar navbar-dark bg-primary navbar-expand-md moodle-has-zindex" aria-label="{{#str}}sitemenubar, admin{{/str}}">
    {{#hasdrawerblocks}}
    <div class="navbar-nav">
        <button id="drawer" class="btn btn-link nav-link" type="button">
            <span id="drawerclose" class="{{^fav}}fa fa-hand-o-left{{/fav}}{{#fav}}far fa-hand-point-left{{/fav}}{{#drawerclosed}} d-none{{/drawerclosed}}" aria-hidden="{{#drawerclosed}}true{{/drawerclosed}}{{^drawerclosed}}false{{/drawerclosed}}" aria-label="{{#str}}closedrawer, theme_foundation{{/str}}"></span>
            <span id="draweropen" class="{{^fav}}fa fa-hand-o-right{{/fav}}{{#fav}}far fa-hand-point-right{{/fav}}{{^drawerclosed}} d-none{{/drawerclosed}}" aria-hidden="{{^drawerclosed}}true{{/drawerclosed}}{{#drawerclosed}}false{{/drawerclosed}}" aria-label="{{#str}}opendrawer, theme_foundation{{/str}}"></span>
        </button>
    </div>
    {{/hasdrawerblocks}}
    <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}
        {{^ output.should_display_navbar_logo }}
            d-none
        {{/ output.should_display_navbar_logo }}
            ">
        {{# output.should_display_navbar_logo }}
            <span class="logo d-none d-sm-inline">
                <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
            </span>
        {{/ output.should_display_navbar_logo }}
        <span class="site-name d-none d-md-inline">{{{ sitename }}}</span>
    </a>

    <ul class="navbar-nav d-flex">
        <!-- courses_menu -->
        {{{coursemenu}}}
    </ul>
    <ul class="navbar-nav d-none d-md-flex mr-auto">
        <!-- custom_menu -->
        {{{ output.custom_menu }}}
        <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}}
    </ul>
    <ul class="nav navbar-nav flex-row ml-auto align-items-center">
        <!-- lang_menu -->
        {{{ output.render_lang_menu }}}
        <li class="d-none d-md-block">
            <!-- search_box -->
            {{{ output.search_box }}}
        </li>
        <!-- Go to bottom -->
        <li class="nav-item">
            <button id="gotobottom" class="btn btn-link nav-link" title="{{#str}}gotobottom, theme_foundation{{/str}}"><span aria-hidden="true" class="{{^fav}}fa fa-arrow-circle-o-down{{/fav}}{{#fav}}far fa-arrow-alt-circle-down{{/fav}}"></span></button>
        </li>
        {{#hascontextheadersettingsmenu}}
        <!-- context_header_settings_menu -->
        <li class="nav-item nav-link context-header-settings-menu">
            {{{ contextheadersettingsmenu }}}
        </li>
        {{/hascontextheadersettingsmenu}}
        <!-- navbar_plugin_output -->
        <li class="nav-item navbar-plugin-output{{#fav}} fav{{/fav}}">
            {{{ output.navbar_plugin_output }}}
        </li>
        <!-- user_menu -->
        <li class="nav-item d-flex">
            {{{ output.user_menu }}}
        </li>
    </ul>
</nav>
