.block_navigation .block_tree p.hasicon,
.block_settings .block_tree p.hasicon {
    padding-left: 0;
    margin-left: -3px;
    text-indent: 0;

    img {
        margin-left: 3px;
    }
}

.block_navigation .block_tree .tree_item.branch,
.block_settings .block_tree .tree_item.branch {
    padding-left: 0;
}
.block_tree .tree_item.branch {
    margin-left: 0;
}

// MDL-57305 - thanks to Daniel Miericke.
.block {
    .block-action {
        @include fa-icon();
        cursor: pointer;
        float: right;
        margin: .2rem .6rem 0 0;
        &:before {
            content: $fa-var-compress;
        }
    }
    &.hidden {
        .block-action:before {
            content: $fa-var-expand;
        }
        .card-text {
            display: none;
        }
    }
}

.block-controls {
    .action-menu-item {
        padding: $btn-padding-y 0;
    }
    .menubar {
        justify-content: space-between;
    }
}

[data-region="blocks-drawer"] {
    height: calc(100% - 50px - 1rem);
    left: 0;
    overflow-y: auto;
    padding-left: 15px;
    position: fixed;
    top: calc(50px + 1rem);
    transition: all 0.75s;
    width: 360px;
    &.drawer-hidden {
        left: -360px;
    }
}

@include media-breakpoint-down(md) {
    [data-region="blocks-drawer"] {
        background-color: $card-bg;
        height: calc(100% - 50px);
        padding: 5px 5px 0 5px;
        position: fixed;
        top: 50px;
        width: 100%;
        &.drawer-hidden {
            width: 0;
        }
    }
}

@include media-breakpoint-up(md) {
    .drawer-open {
        margin-left: 360px;
    }
}

.dashboard-card-deck.one-row {
    overflow-x: auto;
}

body {
    transition: margin-left 0.75s;
}

.editing [data-region="blocks-drawer"] {
    min-height: 786px; // For a drag and drop target area when empty.
}
