.block_navigation .block_tree p.hasicon,
.block_settings .block_tree p.hasicon {
    padding-left: 0;
    text-indent: -2px;
}

.block_navigation .block_tree .tree_item.branch,
.block_settings .block_tree .tree_item.branch {
    padding-left: 0;
}
.block_tree .tree_item.branch {
    margin-left: 0;
}

// MDL-57305 - thanks to Daniel Miericke.
.block {
    .block-action {
        @include fa-icon();
        cursor: pointer;
        float: right;
        margin: .2rem .6rem 0 0;
        &:before {
            content: $fa-var-compress;
        }
    }
    &.hidden {
        .block-action:before {
            content: $fa-var-expand;
        }
        .card-text {
            display: none;
        }
    }
}

.block-controls {
    .action-menu-item {
        padding: $btn-padding-y 0;
    }
    .menubar {
        justify-content: space-between;
    }
}
