.forgetpass .btn {
    white-space: normal;
}

.navbarantigravity {
    height: 35px;
    position: relative;
    width: 58px;
    &.fav {
        width: 64px;
    }

    button {
        display: none;
        font-size: 1.33333em;
        line-height: .75em;
        margin-top: $gotobottom-top-margin;
        position: absolute;
        vertical-align: -.0667em;

        &.backtotop {
            left: 0;
            padding-right: 0.25rem !important;
        }

        &.gotobottom {
            right: 0;
            padding-left: 0.25rem !important;
        }
    }
}

.footerantigravity {
    box-shadow: 0 0 1px $white;
    z-index: 3;

    .backtotop {
        right: 53px;
    }

    .gotobottom {
        right: 24px;
    }

    button {
        background-color: rgba(red($primary), green($primary), blue($primary), 0.5);
        border: none;
        color: $white;
        display: none;
        font-size: 9px;
        padding: 1px 7px 3px;
        position: fixed;
        text-align: center;
        text-decoration: none;
        top: 84%;
    }

    &.fav {
        button {
            padding: 3px 8px 3px;
        }
        .backtotop {
            right: 55px;
        }
    }

    .fa {
        font-size: 24px;
    }
}

.navbar-bottom .footerantigravity button {
    bottom: 84%;
    top: auto;
}

#drawer {
    padding: .5rem;
}
