.forgetpass .btn {
    white-space: normal;
}

.navbarantigravity {
    .backtotop,
    .gotobottom {
        bottom: 0;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        span {
            position: absolute;
            top: $antigravity-top;
        }
    }

    .btts,
    .gtbs {
        opacity: 0;
        padding: $nav-link-padding-y $nav-link-padding-x;
    }

    .antigravity {
        font-size: 24px;
        //margin-top: $gotobottom-top-margin;
        position: relative;

        .backtotop, 
        .btts {
            padding-right: 0.25rem !important;
        }

        .gotobottom,
        .gtbs {
            padding-left: 0.25rem !important;
        }
    }
}

.navbar .navbarantigravity .nav-link {
    @include hover-focus {
        border: none;
    }
}

.footerantigravity {
    box-shadow: 0 0 1px $white;
    z-index: 3;

    .backtotop {
        right: calc(2% + 29px - #{$footer-antigravity-horizontal-offset});
    }

    .gotobottom {
        right: calc(2% - #{$footer-antigravity-horizontal-offset});
    }

    button {
        background-color: rgba(red($primary), green($primary), blue($primary), 0.5);
        border: none;
        color: $white;
        display: none;
        font-size: 9px;
        padding: 1px 7px 3px;
        position: fixed;
        text-align: center;
        text-decoration: none;
        top: calc(84% + #{$footer-antigravity-vertical-offset});
    }

    &.fav {
        button {
            padding: 3px 8px 3px;
        }
        .backtotop {
            right: calc(2% + 31px - #{$footer-antigravity-horizontal-offset});
        }
    }

    .fa {
        font-size: 24px;
    }
}

.navbar-bottom .footerantigravity button {
    top: calc(16% + #{$footer-antigravity-vertical-offset});
}

#drawer {
    padding: .5rem;
}
