a:hover {
    text-decoration: none;
}

#region-main {
    > .card {
        min-height: auto;
        padding-bottom: 1px; // Odd!  Prevents scroll bar from appearing on a course.
    }
}

#region-main,
.card {
    border: none;
}

@include media-breakpoint-down(sm) {
    .pagelayout-mydashboard #region-main {
        padding: 5px;
    }
}

.pagelayout-popup #page {
    margin-top: 0;
}

.page-context-header {
    padding: 0;
}

#page-footer a {
    text-decoration: none;
    @include hover-focus-active {
        text-decoration: underline;
    }
}
