a:hover {
    text-decoration: none;
}

#region-main > .card {
    min-height: auto;
    padding-bottom: 1px; // Odd!  Prevents scroll bar from appearing on a course.
}

.dropdown-item a {
    color: inherit;
}

#page-footer a {
    text-decoration: none;
    @include hover-focus-active {
        text-decoration: underline;
    }
}
