.custom-select.jumpmenu {
    width: auto;
}

.section {
    .activity {
        // The command block for each activity.
        .actions {
            .btn {
                border-width: 0;
            }
        }
    }
}

.course-content ul.topics,
.course-content ul.weeks {
    li.section {
        .summary,
        .content > .availabilityinfo {
            margin-left: 13px;
        }
    }
}

.course-content ul.section {
    padding-left: 0;
}

.coursebox > .info > .coursename a {
    background-image: none;
    padding-left: 0;
}

.course-content ul li.section.main:last-child {
    border-bottom: 1px solid $table-border-color;
}
