.form-autocomplete-suggestions {
    background-color: $body-bg;
    color: $body-color;
    li {
        &:hover,
        &:focus,
        &[aria-selected="true"] {
            @include gradient-bg($primary);
            @if $navbar-style == light {
                color: $navbar-light-hover-color;
            }
            @else {
                color: $navbar-dark-hover-color;
            }
        }
    }
}

.form-switch {
    .form-check-input {
        --#{$prefix}form-switch-bg: #{escape-svg($form-switch-focus-bg-image)};
        background-color: transparent;

        &:checked {
            --#{$prefix}form-switch-bg: #{escape-svg($form-switch-focus-bg-image)};
        }

        &:hover,
        &:focus {
            --#{$prefix}form-switch-bg: #{escape-svg($form-switch-checked-bg-image)};
        }
    }
}
