.path-grade-report-grader {
    .gradeparent {
        th.header,
        th.userfield {
            .action-menu {
                margin-left: auto;
            }
        }
    }

    .heading .gradeitemheader {
        padding-left: 2.2rem;
        text-indent: -2.2rem;
        width: 100%;
    }
}
