// Modules.
.activityiconcontainer {
    border-radius: 90px;
}

.modtype_assign .activityicon,
.modtype_assignment .activityicon,
.modicon_assign .activityicon,
.modicon_assignment .activityicon {
    margin-left: 5px !important;
}

.modtype_lti .activityicon,
.modicon_lti .activityicon {
    margin-bottom: 2px;
    margin-left: 4px !important;
}

#page-mod-hvp-mod .form-control-static {
    width: 100%;
}

.userinitials {
    &.size-30 {
        width: 30px;
        height: 30px;
    }
}
