// Navbar.
.navbar {
    flex-wrap: nowrap;
    .popover-region {
        margin-right: 0;
    }
    .popover-region-container {
        right: -16px;
        top: 47px;
    }
    .popover-region-toggle {
        width: auto;
        .icon {
            margin-right: 0;
        }
    }
}

.navbar-nav .usermenu .dropdown-menu {
    left: auto;
    position: absolute;
    right: 0;
}

.nav .caret {
    margin-left: 0;
}

.popover-region-toggle {
    &::after {
        bottom: -6px;
        right: -4px;
    }
    &::before {
        bottom: -5px;
        right: -5px;
    }
}

.dropdown-toggle.nav-link .fa {
    font-size: 16px;
}

.usermenu {
    .login a {
        color: inherit;
        &:hover,
        &:focus {
            color: inherit;
        }
    }

    .dropdown-toggle {
        padding-bottom: 0;
        padding-top: 0;

        img.userpicture {
            margin-right: 0;
        }
    }
    
    .dropdown-menu {
        top: unquote("calc(100% + .5rem)");
    }
}
