// Navbar.
.navbar {
    flex-wrap: nowrap;
    .popover-region {
        margin-top: 4px;
    }
    .popover-region-container {
        right: -16px;
        top: 47px;
    }
}

.navbar-nav .dropdown-menu {
    left: auto;
    position: absolute;
    right: 0;
}

.popover-region-toggle {
    &::after {
        bottom: -6px;
        right: -4px;
    }
    &::before {
        bottom: -5px;
        right: -5px;
    }
}

.dropdown-toggle.nav-link .fa {
    font-size: 16px;
}

.usermenu .login a {
    color: inherit;
    &:hover,
    &:focus {
        color: inherit;
    }
}
