// Override.
@import "theme/override";
// Theme changes.
@import "theme/blocks";
@import "theme/brands";
@import "theme/buttons";
@import "theme/carousel";
@import "theme/core";
@import "theme/course";
@import "theme/custom_forms";
@import "theme/dashboard";
@import "theme/header";
@import "theme/icons";
@import "theme/menus";
@import "theme/mod";
@import "theme/navbar";
@import "theme/quiz";
// Plugin changes.
@import "theme/grid";
@import "theme/topcoll";
